:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    display: grid;
    padding: 100px; /* no vale para mucho es solo para verlo mejor por ahora */
    grid-gap: 1em;
    grid-template-rows: repeat (var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    text-align: center;
}

#btnColorReset, #btnGridReset {
    width: 150px;
    height: 50px;
    margin: 30px 30px;
}

.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
}

